on: [push,   workflow_dispatch]
name: Azure ARM
jobs:
  build-and-deploy:
    environment: Azure
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Log into Azure
        uses: azure/login@v1.4.3
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy ACR
        uses: azure/arm-deploy@main
        id: acr
        with:
          deploymentName: ${{ github.run_number }}
          resourceGroupName: ${{ secrets.RESOURCE_GROUP }}
          template: acr.bicep

      - run: echo ${{ steps.acr.outputs.loginServer }}

      # - name: Login to DockerHub
      #   uses: docker/login-action@v1 
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      # - name: build and push docker image
      #   uses: docker/build-push-action@v2.10.0
      #   with:
      #     push: true
      #     tags: bwasm.azurecr.io/bwasm:${{ github.sha }}

      # - name: Deploy Bicep file
      #   uses: azure/arm-deploy@main
      #   with:
      #     deploymentName: ${{ github.run_number }}
      #     resourceGroupName: ${{ secrets.RESOURCE_GROUP }}
      #     template: main.bicep
