on: [push,   workflow_dispatch]
name: Azure ARM
jobs:
  build-and-deploy:
    environment: Azure
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Log into Azure
        uses: azure/login@master
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Bicep file
        uses: azure/arm-deploy@main
        with:
          deploymentName: ${{ github.run_number }}
          resourceGroupName: ${{ secrets.RESOURCE_GROUP }}
          template: demo.bicep
